@if(prismic.hasPrivilegedAccess()) {
  <div id="toolbar">

    <form method="GET">
      <label for="releaseSelector">See this website: </label>
      <select id="releaseSelector" name="ref" onchange="this.form.submit()">
        <option value="" @if(prismic.getRef() == prismic.getApi().getMaster().getRef()) { selected="selected" }>As currently seen by guest visitors</option>
        <optgroup label="Or preview the website in a future release:">
          @for(ref <- prismic.getApi().getRefs() if !ref.isMasterRef()) {
            <option value="@ref.getRef()" @if(prismic.getRef() == ref.getRef()) { selected="selected" }>As @ref.getLabel()</option>
          }
        </optgroup>
      </select>
    </form>

    <form action="@routes.Prismic.signout()" method="POST">
      <input type="submit" value="Disconnect">
    </form>

    <hr>

  </div>
}